

<!--Add Modal -->
<p> Add Task is added as part of Model window in view task</p>

 <!--   <div ng-if="taskSaved"> Task Added Successfully</div> 
      <form #f="ngForm" class="form-group" (ngSubmit)=addTask(f)>
          
              <div>
                  <label for = "task"> Task</label>
                  <input type = "text" class = "form-control" ngModel name = "task" placeholder = "Enter Task Name">
               </div>
               <div>
                  <label for = "priority"> Priority</label>
                  <input type = "text" class = "form-control" ngModel name = "priority" placeholder = "Enter Enter Priority">
               </div>
               <div>
                  <label for = "price"> Parent Task</label>
                  <input type = "text" class = "form-control" ngModel name = "parent_id" placeholder = "Enter Parent ID">
               </div>
               <div>
                  <label for = "start_date"> Start Date</label>
                  <input type = "text" class = "form-control" ngModel name = "start_date" placeholder = "Enter Start Date">
               </div>
               <div>
                  <label for = "end_date">End Date</label>
                  <input type = "text" class = "form-control" ngModel name = "end_date" placeholder = "Enter End Date">
               </div>
      
      <div>        
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form> -->



